<div class="course-profile-card__header">
  <div class="course-profile-card__info">
    <div class="course-date-data">
      <p><i class="course-data-card-calendar-icon social-media-icon far fa-calendar-alt" aria-hidden="true"></i><%= course.duration %> days</p>
      <p>€<%= course.price%></p>
      <p><i class="fas fa-solid fa-arrow-up-right-dots" aria-hidden="true"></i> <%= course.level%> </p>
    </div>
  </div>
  <img class="card-img-top" src="/images/course-profiles/<%=course.image%>" alt="<%=course.title%>">
</div>