<%- include("../partials/header"); -%>

<section>
  <!-- Cover image -->
  <div>
    <img src="/images/course-cover/sailing-team-building.png" width="100%" class="top-image" alt="malta-corporate-team-building-sailing" />
  </div>
  <!-- <div class="container-video">
    <iframe
      class="video-top"
      src="https://www.youtube.com/embed/azhP3ytcaJg"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div> -->

  <div class="container-fluid video-course-background">
    <div class="course-sheet">
      <!-- Course title -->
      <div class="course-title">
        <h1><b>Corporate Team Building</b></h1>
        <h6>FUN | ENJOYMENT | SATISFACTORY</h6>
        <br />
        <a href="/files/212ffca7c58fed12662982021ab39616.pdf">
          <p>
            <b> ⬇️ Download our sample 1-2 day team building program ⬇️</b>
          </p>
        </a>
        <p class="lead course-subtitle">
          <em>Sailing is an excellent team building activity as it implies great
            communication, fast decision making and effective team behaviours.
            The better the team work, the better the performance!</em>
        </p>
        <br />
      </div>

      <!-- Course detail accordion -->
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Introduction
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                If you are looking for a team event, to treat your employees or
                to encourage your staff to communicate better, why not sail with
                us?
              </p>
              <p>
                During our corporate team building events, very different
                personalities learn how to work together to accomplish a common
                goal. Good leadership skills are developed, trust and respect
                are fostered.
              </p>
              <p>
                Anyone, of any age, any size and strength can participate in a
                Corporate Team Building Sailing Challenge because sailing is
                forgiving. Everyone aboard learns to work together, take and
                give commands, share the goal of maximizing the sailboat’s
                potential.
              </p>
              <p>
                Sailing School Malta coaches and facilitators specialize in
                teaching people how to sail successfully. Whether your group
                includes people who are avid sailors or boating novices, young
                or old, fit or not so fit, they are encouraged to participate
                and learn equally.
              </p>
              <p>
                After just a few hours into the sailing team building schedule
                everyone gains comfort and confidence aboard, discovering how to
                work as a team, as skipper and crew – to capably reach the
                finish line in a fun sailboat at the end of the program.
              </p>
              <p>
                Contact us and ask about our corporate team building events
                today! Depending on what you’re looking for, we can provide
                anything from a calm group cruise to a thrilling ride where
                quick, rational decisions are of utmost importance.
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingSeven">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Sample Program
              </button>
            </h2>
          </div>
          <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
              <a href="/files/212ffca7c58fed12662982021ab39616.pdf">
                <p>
                  ⬇️ Download our sample 1-2 day team building program ⬇️
                </p>
              </a>
              <p>
                Please
                <a href="/contact#enquiry-form">contact us for a quote and discuss your specific needs. Our
                  consultants and planners will be able to focus our resources
                  on your goals.</a>
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button style="text-align: left" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Why choose sailing for team building
              </button>
            </h2>
          </div>

          <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                Corporate sailing could quite possibly be the very best team
                building activity on earth. Sailing is great opportunity to get
                away from the daily routine, have fun, and developing excellent
                interactions as a team.
              </p>
              <p>
                Sailing simulates our environment at work – constant changes and
                ‘unknowns’ are thrown at the group who must adapt to deal with
                the situation.
              </p>
              <p>
                It improves communication, collaboration and developing
                leadership capabilities, also extremely beneficial for improving
                work atmosphere, decision effectiveness, and motivation.
              </p>
              <p>
                Learning to sail a boat well, around a course or in a fun
                competition puts the crew on board in a unique situation. They
                must learn new skills together as a group – solving problems and
                working together in a fun and challenging environment. Together
                on a boat – co-workers must abandon pre-existing relationships
                and solve problems together – as a team.
              </p>
              <p>
                The multiple challenges the team will face while doing a sail,
                and the fact that the team is facing them together, is a factor
                that strengthens bonds and trust.
              </p>
              <p>
                Maximizing a sailboat’s performance is remarkably similar to
                maximizing a company’s performance, isn't it?
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTen">
            <h2 class="mb-0">
              <button style="text-align: left" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                What your team will get
              </button>
            </h2>
          </div>
          <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li>Increased team performance and motivation</li>
                <li>Get out of the company's framework and reduce stress</li>
                <li>Learn how to sail, become a useful crew, and much more</li>
                <li>
                  Improved cohesion, communication and a much happier team
                </li>
                <li>
                  Discover Malta from its best angle, making it a memorable
                  experience
                </li>
                <li>Very good sensation cruising over the sea</li>
                <li>A lot of fun :)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Additional Services
              </button>
            </h2>
          </div>

          <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                In addition we are able to provide a number of onboard catering
                options – just in case you’d like to stop for lunch and a pep
                talk in one of Malta’s spectacular bays.
              </p>
              <p>
                If your team is large enough to require more than one boat, then
                Brilliant! We can use this opportunity to add some competitive
                action to the mix! Also checkout our
                <a href="/courses/flotilla-skipper-training">Flotilla Skipper Training course</a>.
              </p>
              <p>
                We can offer a photography service to capture the unforgettable
                moments of your sailing experience ! We can also provide night
                sailing experience, Comino Blue Lagoon trip, and much more for a
                fun day away… Don't hesitate to contact us for more
                customization.
              </p>
            </div>
          </div>
        </div>
      </div>

      <%- include("../partials/reviews"); -%>
      <!-- Bottom buttons -->
      <div class="course-bottom-buttons">
        <a class="btn btn-primary course-four-bottom" href="/contact#enquiry-form" role="button">Send us an enquiry &raquo;</a>
        <a class="btn btn-warning course-four-bottom" href="/booking/courses/<%=courseName%>" role="button">Book now &raquo;</a>
        <% if(courseProfileFound.onlineLink != "") {%>
        <a href="<%=courseProfileFound.onlineLink%>" class="btn btn-info course-four-bottom" role="button">Online course &raquo;</a>
        <%}%> <% if(courseProfileFound.ryaLink != "") {%>
        <a href="<%=courseProfileFound.ryaLink%>" class="btn btn-light course-four-bottom" role="button"><img src="/images/RYA_logo.png" width="50" /></a>
        <%}%>
      </div>
    </div>
  </div>
</section>

<%- include("../partials/footer"); -%>