<%- include("../partials/header"); -%>

<section>

  <!-- Cover image -->
  <div>
    <img src="/images/course-cover/course-cover-rya-sea-survival.jpg" width="100%" class="top-image" alt="course-cover-rya-sea-survival">
  </div>

  <div class="container-fluid course-background">
    <div class="course-sheet">

      <!-- Course title -->
      <div class="course-title">
        <h1><b>RYA Sea Survival</b></h1> <%- include("../partials/summary-course"); -%>
        <p class="lead course-subtitle"><em>A one-day course for anyone going to sea, providing an understanding of how to use the safety equipment on board your boat.</em></p>
        <br><br>
      </div>

      <!-- Course calendar section: dont change below -->
      <div class="course-calendar">
        <h3><b>Upcoming Course Dates</b></h3>
        <div class="row">

          <!-- months tabs -->
          <div class="col-xl-3 col-lg-3  calendar-month">
            <div class="list-group" id="list-tab" role="tablist">
              <%  uniqueMonthsYears.forEach(function(uniqueMonthYear,index) {%>
              <a class="list-group-item list-group-item-action <% if(index===0) {%> <%="active"%> <%}%>" id="list-<%=uniqueMonthYear%>-list" data-toggle="list" href="#list-<%=uniqueMonthYear%>" role="tab"><%=uniqueMonthYear%></a>
              <%})%>
            </div>
          </div>

          <div class="col-xl-6 col-lg-9">
            <div class="tab-content" id="nav-tabContent">
              <%- include("../partials/calendar-pop-up"); -%>

              <div class="calendar-buttons">
                <p><b>This course is arranged upon request, please contact us or send us an enquiry if you're interested. 😉‍</b></p>
                <a class="btn btn-primary course-four-bottom" href="/contact#enquiry-form" role="button">Send us an enquiry &raquo;</a>
                <a class="btn btn-warning course-four-bottom" href="/booking/courses/<%=courseName%>" role="button">Book now &raquo;</a>
                <% if(courseProfileFound.onlineLink != "") {%>
                <a href="<%=courseProfileFound.onlineLink%>" class="btn btn-info course-four-bottom" role="button">Online course &raquo;</a>
                <%}%>
                <% if(courseProfileFound.ryaLink != "") {%>
                <a href="<%=courseProfileFound.ryaLink%>" class="btn btn-light course-four-bottom" role="button"><img src="/images/RYA_logo.png" width="50"></a>
                <%}%>
              </div>
            </div>
          </div>

          <!-- the map -->
          <%- include("../partials/maps/ssm"); -%>

              </div>
            </div>

            <!-- Course detail accordion -->
            <div class="accordion" id="accordionExample">

              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Course Overview
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>
                      Cruising is one of the safest leisure sporting activities, and 99.9% of those afloat will never use their liferaft. However, if you are part of the unlucky 0.1% your chances of survival will be greatly increased if you understand how to use the equipment and how to help yourself.
                    </p>
                    <p>
                      It is a well-proven fact that, in the event of an emergency at sea, people with training are more likely to survive.
                    </p>
                    <p>
                      An important part of the course is a practical session in a swimming pool. Experience first hand the problems of entering an uncooperative liferaft and assisting others while fully kitted out in wet weather gear and a lifejacket.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Course Content
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>
                      Course subjects include:
                    </p>
                    <ul>
                      <li>liferafts and the equipment they contain</li>
                      <li>survival techniques</li>
                      <li>the design of lifejackets</li>
                      <li>medical aspects of sea survival</li>
                      <li>search and rescue techniques</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      Course Requirement
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Duration: 1 day</li>
                      <li>Minimum age: None</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingEight">
                  <h2 class="mb-0">
                    <button style="text-align: left" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                      RYA Shorebased Course System
                    </button>
                  </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                  <div class="card-body">
                    <img src="/images/course-element/course-element-shorebased-course-system.png" width="100%" alt="RYA-shorebased-course-system">
                  </div>
                </div>
              </div>

            </div>

            <%- include("../partials/reviews"); -%>
            <!-- Bottom buttons -->
            <div class="course-bottom-buttons">
              <a class="btn btn-primary course-four-bottom" href="/contact#enquiry-form" role="button">Send us an enquiry &raquo;</a>
              <a class="btn btn-warning course-four-bottom" href="/booking/courses/<%=courseName%>" role="button">Book now &raquo;</a>
              <% if(courseProfileFound.onlineLink != "") {%>
              <a href="<%=courseProfileFound.onlineLink%>" class="btn btn-info course-four-bottom" role="button">Online course &raquo;</a>
              <%}%>
        <% if(courseProfileFound.ryaLink != "") {%>
              <a href="<%=courseProfileFound.ryaLink%>" class="btn btn-light course-four-bottom" role="button"><img src="/images/RYA_logo.png" width="50"></a>
              <%}%>
      </div>

    </div>
  </div>

</section>

<%- include("../partials/footer"); -%>