<%- include("../partials/headers/header-day-skipper-practical"); -%>

<style>
  .course-title h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color:#003366;
  }
  .course-title h6 {
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Monteserrat', sans-serif;
    color:#003366;
  }
  .accordion h4 {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color:#003366;
  }
</style>

<section>

  <!-- Cover video -->
  <div class="container-video">
    <iframe class="video-top" src="https://www.youtube.com/embed/5hArHpw1gxE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="container-fluid course-background">
    <div class="course-sheet">

      <!-- Course title -->
      <div class="course-title">
        <h1><b>RYA Day Skipper Practical</b></h1>
        <h6>CONFIDENCE BUILDING | PROGRESSION | SKIPPERING | PILOTAGE </h6>
        <br>
        <span><strong>⭐️⭐️⭐️⭐️⭐️ 5.0 based on 1000+ Happy Sailors</strong></span>
        <br>
        <br>
        <br>
        <%- include("../partials/summary-course"); -%>
        <p class="lead course-subtitle"><em>"A course for aspiring skippers with some yachting experience and basic navigation and sailing skills."</em></p>
        <br>
        <br>
      </div>

      <div class="d-flex justify-content-center mb-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lRyEbgVDjWQ?si=PJGkOtf-GgdhVqKh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <!-- Course calendar section: dont change below -->
      <div class="course-calendar">
        <h3><b>Upcoming Course Dates</b></h3>
        <div class="row">

          <!-- months tabs -->
          <div class="col-xl-3 col-lg-3 calendar-month">
            <div class="list-group month-tabs" id="list-tab" role="tablist">
              <%  uniqueMonthsYears.forEach(function(uniqueMonthYear,index) {%>
              <a class="list-group-item list-group-item-action <% if(index===0) {%> <%="active"%> <%}%>" id="list-<%=uniqueMonthYear%>-list" data-toggle="list" href="#list-<%=uniqueMonthYear%>" role="tab"><%=uniqueMonthYear%></a>
              <%})%>
            </div>
          </div>

          <div class="col-xl-6 col-lg-9">
            <div class="tab-content" id="nav-tabContent">
              <%- include("../partials/calendar-pop-up"); -%>

              <div class="calendar-buttons">
                <p><b>You can book the course directly online by clicking the Course Booking Button. Please contact us if you're interested in private class or on a different date 😉‍</b></p>
                <a class="btn btn-deep-blue course-four-bottom" target="_blank" rel="noopener noreferrer"  href="/booking/courses/<%=courseName%>" role="button">Book now &raquo;</a>
                <a class="btn btn-light-blue course-four-bottom" target="_blank" rel="noopener noreferrer"  href="/contact#enquiry-form" role="button">Enquiry now &raquo;</a>
                <a class="btn btn-light-blue course-four-bottom" target="_blank" rel="noopener noreferrer"  href="" role="button">Course Guidance &raquo;</a>
                <a class="btn btn-light-blue course-four-bottom" target="_blank" rel="noopener noreferrer"  href="" role="button">FAQs &raquo;</a>
                <% if(courseProfileFound.ryaLink != "") {%>
                <a target="_blank" rel="noopener noreferrer"  href="<%=courseProfileFound.ryaLink%>" class="btn btn-light course-four-bottom" role="button"><img src="/images/RYA_logo.png" width="50"></a>
                <%}%>
                <div class="my-4"><h4><b>DS Related Courses & Packages:</b></h4></div> 
                <a class="btn btn-deep-blue course-four-bottom my-1" target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-theory" role="button">Day Skipper Theory &raquo;</a>
                <a class="btn btn-deep-blue course-four-bottom my-1" target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-package" role="button">Day Skipper Package &raquo;</a>
                <a class="btn btn-light-blue course-four-bottom my-1" target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-fast-track-practical-only" role="button">Day Skipper Fast-track (2 weeks) &raquo;</a>
                <a class="btn btn-light-blue course-four-bottom my-1" target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-fast-track" role="button">Day Skipper Fast-track (3 weeks) &raquo;</a>
              </div>
            </div>
          </div>

          <!-- the map -->
          <%- include("../partials/maps/lavrion"); -%>

        </div>
      </div>

          <%- include("../partials/carousel"); -%>

            <!-- Course detail accordion -->
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header bg-light-blue" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h4>🧭 Course Overview</h4>
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>
                    <strong>RYA Day Skipper Practical</strong> is a must for skippers who wish to take out their family and friends, the entry level to skippering and a minimum qualification.
                    </p>
                    <p>
                      The course is designed to teach you to "take charge" safely and confidently. A skipper does much more than navigate. He/She is responsible for the complete safety and wellbeing of the yacht and crew.
                    </p>
                    <p>
                      The student will learn to skipper a short passage with the instructor on hand to give advice and encouragement and ensure your safety, have the experience being in charge and taking control of the yacht and the crew.
                    </p>
                    <p>
                      There is particular emphasis on <strong>boat handling</strong> for Day Skippers and during the course you will practice mooring under various conditions. For those who need extra practicing and training of boat manoeuvring, we have a special <a target="_blank" rel="noopener noreferrer"  href="/courses/boat-handling-course"><u>Boat Handling Course</u></a> for that.
                    </p>
                    <p>
                      Along the course, you will visit some great harbours, nice bays, and anchorages to practice pilotage techniques which, like boat handling, is an essential skill for the aspiring skipper. You will complete at least 4 night hours sailing to experience night pilotage and identify lights.
                    </p>
                    <p>
                      
                    </p>
                    <p>
                      Upon the completion of the course, the student is expected to be able to skipper a small yacht in familiar waters by day. Students who successfully complete the Day Skipper course are awarded the RYA Day Skipper practical course completion certificate.
                    </p>
                    <p>
                      RYA Day Skipper Practical licence is the entry level and the minimum requirement for chartering yachts in many locations around the world, <strong>coupled it with your <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-marine-radio"><u>Marine Radio VHF license</u></a></strong>. This course will also enable you to <a target="_blank" rel="noopener noreferrer"  href="/courses/icc-assessment"><u><strong>apply for the ICC</strong></u></a> (International Certificate of Competence, limited to certain nationalities).
                    </p>
                    <p>
                      The course lasts 5 days. Each day the course starts at 09:30 and ends at around 17:00 (except for the day of night sail). The course is usually run from Monday to Friday every week. Accommodation onboard during the course is included in the course price.
                    </p>
                    <p>
                      You are also welcome to charter the whole yacht for yourself and take your RYA Day Skipper course in a more relaxed way for yourself and friends/family (they can take their RYA Competent Crew course with you at same time,  up to 5 students per course). More details on private group/family sailing course can be found <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-courses-family-sailing"><u>here</u></a>.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header bg-light-blue" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h4>🎯 Who Is This Course For?</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                  <!-- Horizontal Scroll Gallery -->
                  <div class="mb-2">
                    <div class="horizontal-scroll-gallery d-flex flex-nowrap overflow-auto">
                    <!-- RYA Competent Crew Course Gallery -->
                    <img src="/images/competent-crew/BE7231A4-5A69-476F-B7FB-943F06C084AD.JPG" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/competent-crew/rya-competent-crew-course-1.webp" alt="RYA Competent Crew 1">
                    <img src="/images/competent-crew/04D07B9C-5D7E-4661-9900-2935D277D864.JPG" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/competent-crew/rya-competent-crew-course-2.webp" alt="RYA Competent Crew 2">
                    <img src="/images/competent-crew/912CD8DE-5F90-46FC-849A-833C939F20C1.JPG" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/competent-crew/rya-competent-crew-course-3.webp" alt="RYA Competent Crew 3">
                    <img src="/images/competent-crew/FE8E4CF9-CA68-4622-A179-735F81BCE00B.JPG" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/competent-crew/rya-competent-crew-course-6.webp" alt="RYA Competent Crew 6">
                    <img src="/images/competent-crew/9AF1F59B-A2D6-4718-90C3-2CF3D7802663.JPG" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/competent-crew/rya-competent-crew-course-7.webp" alt="RYA Competent Crew 7">
                    <img src="/images/competent-crew/E7BA1042-0C0B-4945-BC3F-9158F0CCF5B8.JPG" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/competent-crew/rya-competent-crew-course-10.webp" alt="RYA Competent Crew 10">
                    <img src="/images/competent-crew/FAFE7646-A5D5-459E-BFAB-9B67D758CEC7.JPG" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/competent-crew/rya-competent-crew-course-11.webp" alt="RYA Competent Crew 1">
                    </div>
                  </div>

                  <!-- Image Modal -->
                  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content bg-transparent border-0">
                        <div class="modal-body text-center">
                          <img id="modalImage" src="" class="img-fluid rounded" alt="Full Size">
                        </div>
                      </div>
                    </div>
                  </div>

                  <script>
                    $(document).ready(function () {
                      $('#imageModal').on('show.bs.modal', function (event) {
                        var img = $(event.relatedTarget);
                        var src = img.data('src');
                        $('#modalImage').attr('src', src);
                      });
                    });
                  </script>

                  <ul>
                    <li>
                      <strong>Minimum age:</strong> 16 years old
                    </li>
                    <li>
                      <strong>Pre-course experience:</strong> 5 days at sea, 100 nautical miles, and 4 night hours onboard a sailing yacht. If you haven't achieved this yet, we recommend starting with the <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-competent-crew"><u>RYA Competent Crew course</u></a>.
                    </li>
                    <li>
                      <strong>Required knowledge:</strong> Navigation knowledge to <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-theory"><u><strong>Day Skipper Theory</strong></u></a> level and basic sailing ability. We highly recommend completing the theory component before attempting the practical.
                       <!-- (if not, consider our <a href=""><u><strong>7-day preparatory course</strong></u></a>). -->
                    </li>
                    <li>
                      To prepare fully, you can take our <a target="_blank" rel="noopener noreferrer"  href="/courses/day-skipper-package"><u>Day Skipper Package Course</u></a>, which includes the <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-theory"><u>RYA Day Skipper Theory</u></a>, <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-practical"><u>RYA Day Skipper Practical</u></a>, and <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-vhf-radio"><u>RYA VHF Radio</u></a> course—offered with a 10% package discount.
                    </li>
                    <li>
                      If you already hold a Day Skipper certificate but haven’t sailed in a while, consider our <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-plus-practical-course"><u>Day Skipper Refresher / Plus course</u></a> to rebuild your confidence and skills.
                    </li>
                  </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header bg-light-blue" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h4>📑 Course Syllabus</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">      
                    <div class="mb-3">
                    <div class="horizontal-scroll-gallery d-flex flex-nowrap overflow-auto">
                    <!-- RYA Competent Crew Course Gallery -->
                    <img src="/images/day-skipper/rya-day-skipper-course-2.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/day-skipper/rya-day-skipper-course-2.webp" alt="RYA Day Skipper Course 2">
                    <img src="/images/day-skipper/rya-day-skipper-course-4.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/day-skipper/rya-day-skipper-course-4.webp" alt="RYA Day Skipper Course 4">
                    <img src="/images/day-skipper/rya-day-skipper-course-15.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/day-skipper/rya-day-skipper-course-15.webp" alt="RYA Day Skipper Course 15">
                    <img src="/images/day-skipper/rya-day-skipper-course-16.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/day-skipper/rya-day-skipper-course-16.webp" alt="RYA Day Skipper Course 16">
                    <img src="/images/day-skipper/rya-day-skipper-course-18.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/day-skipper/rya-day-skipper-course-18.webp" alt="RYA Day Skipper Course 18">
                    </div>
                    </div>    
                    <p>
                      <strong>The course syllubus includes:</strong> preparation for sea, deck work, navigation, pilotage, meteorology, rules of the road, maintenance and repair work, engines, victualling, emergency situations, yacht handling under power, yacht handling under sail, passage making,
                      night cruising.
                    </p>
                    <p>Preparing for Sea</p>
                    <ul>
                      <li>We will supply you with a checklist-at the end of your course!</li>
                    </ul>
                    <p>Working on Deck</p>
                    <ul>
                      <li>Reefing for prevailing conditions</li>
                      <li>Preparing a yacht for anchor</li>
                      <li>Berthing alongside buoy, springing off and general boat handling</li>
                    </ul>
                    <p>Navigation on board</p>
                    <ul>
                      <li>Plotting fixes, using GPS, DR &amp; EP, tidal heights and streams, course to steer, ships log, depth log and lead line</li>
                    </ul>
                    <p>Pilotage</p>
                    <ul>
                      <li>Leading lines and transits, sounding etc</li>
                    </ul>
                    <p>Weather</p>
                    <ul>
                      <li>Interpretation of barometer and shipping forecasts, source of forecasts</li>
                    </ul>
                    <p>IRPCS</p>
                    <ul>
                      <li>Working knowledge</li>
                    </ul>
                    <p>Stocking up</p>
                    <ul>
                      <li>How to ensure enough of everything required is on board</li>
                    </ul>
                    <p>Emergency</p>
                    <ul>
                      <li>Must be able to recover an MOB</li>
                    </ul>
                    <p>Emergency equipment</p>
                    <ul>
                      <li>VHF &amp; distress messaging</li>
                      <li>Towing (maybe with a real tow!)</li>
                    </ul>
                    <p>Fix it!</p>
                    <ul>
                      <li>Can make minor repairs/impeller change for example</li>
                    </ul>
                    <p>Engines</p>
                    <ul>
                      <li>Thorough brief on fuel and cooling systems, including routine engine checks</li>
                    </ul>
                    <p>Handling a yacht under power</p>
                    <p>Handling a yacht under sail</p>
                    <p>Passage working</p>
                    <ul>
                      <li>Plan a passage, and undertake it with yacht and crew</li>
                    </ul>
                    <p>Night Cruising</p>
                    <ul>
                      <li>Now included in the DS syllabus to give day sailors experience of night entries</li>
                    </ul>
                    <p>Supporting books for this course:</p>
                    <a class="book-link" target="_blank" rel="noopener noreferrer"  href="https://www.rya.org.uk/shop/p/rya-day-skipper-practical-course-notes"><img src="/images/course-element/course-element-day-skipper-note.jpg" width="150px" alt="day-skipper-note"></a>
                    <a class="book-link" target="_blank" rel="noopener noreferrer"  href="https://www.rya.org.uk/shop/p/rya-day-skipper-handbook-sail"><img src="/images/books/day-skipper-handbook.jpeg" width="150px" alt="day-skipper-handbook"></a>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header bg-light-blue" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      <h4>⚓️ More Details</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                  <div class="horizontal-scroll-gallery d-flex flex-nowrap overflow-auto">
                  <img src="/images/start-yachting/imgi_43_Cyclades-Odyssey-1-0579.jpg" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/start-yachting/rya-start-yachting-course-1.webp" alt="RYA Start Yachting 1">
                  <img src="/images/start-yachting/imgi_34_Cyclades-Odyssey-10-.jpg" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/start-yachting/rya-start-yachting-course-3.webp" alt="RYA Start Yachting 3">
                  <img src="/images/start-yachting/home-carousel-4-malta-sailing-galley.webp" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/start-yachting/rya-start-yachting-course-4.webp" alt="RYA Start Yachting 4">
                  <img src="/images/start-yachting/imgi_32_Cyclades-Odyssey-8-.jpg" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/start-yachting/rya-start-yachting-course-6.webp" alt="RYA Start Yachting 6">
                  <img src="/images/start-yachting/imgi_33_Cyclades-Odyssey-9-.jpg" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/start-yachting/rya-start-yachting-course-7.webp" alt="RYA Start Yachting 7">
                  <img src="/images/start-yachting/imgi_37_Cyclades-Odyssey-17-115849.jpg" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/start-yachting/rya-start-yachting-course-9.webp" alt="RYA Start Yachting 9">
                  <img src="/images/start-yachting/imgi_38_Cyclades-Odyssey-16-115823.jpg" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/start-yachting/rya-start-yachting-course-11.webp" alt="RYA Start Yachting 11">
                  <img src="/images/start-yachting/imgi_39_Cyclades-Odyssey-115856.jpg" class="gallery-img mx-2" data-toggle="modal" data-target="#imageModal" data-src="/images/start-yachting/rya-start-yachting-course-12.webp" alt="RYA Start Yachting 12">
                  </div>
                    <p>
                      <strong>Learn to Skipper a Yacht with Confidence – RYA Day Skipper Practical Course in Greece</strong>
                    </p>
                    <p>
                      Master the essential skills to confidently skipper a small sailing yacht by day with the 
                      <strong><a target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-practical">RYA Day Skipper Practical course</a></strong>. 
                      Based in beautiful Greece, this hands-on 5-day sailing course covers key topics including coastal navigation, passage planning, practical pilotage, seamanship, and boat handling—such as Med-style mooring, a must for sailing in the Mediterranean.
                    </p>
                    <p>
                      Unlike a traditional exam, assessment is continuous and based on your ability to safely skipper the yacht throughout the course. 
                      If your instructor confirms that you're competent and safe to take a small yacht to sea in moderate conditions, 
                      you’ll be awarded the <strong>RYA Day Skipper certificate</strong>.
                    </p>
                    <p>
                      Depending on your citizenship and residency, you may also be able to convert your certificate to an ICC (International Certificate of Competence), opening opportunities to charter worldwide.                    </p>
                    <p>
                      You’ll be training aboard Athena,” a spacious Bavaria 44 Cruiser moored at 
                      <strong>Lavrion Port</strong> in 20 minutes by car from Athens International Airport. 
                      The course begins daily at 09:30, and onboard accommodation is available and included from Monday to Friday. 
                      Early boarding on Sunday or staying Friday night is possible by request.
                    </p>
                    <hr>
                    <p><strong>A Day Onboard</strong></p>
                    <p>The day begins with a shared breakfast on deck, enjoying coffee and pastries while the instructor briefs the crew on the route, weather, and key responsibilities.</p>
                    <p>Once underway, it’s hands-on sailing: trimming sails, steering under sail and power, and taking turns as skipper, making decisions confidently and managing the yacht with the crew.</p>
                    <p>At lunchtime, we drop anchor in a sheltered bay to enjoy a meal on board, with time to swim, snorkel, or relax in the sun. The afternoon continues with practising Med-mooring, navigation, and precise harbour manoeuvres.</p>
                    <p>As the day ends, we sail into a harbour, explore a nearby village, enjoy a drink at a terrace, and finish with dinner at a local taverna, featuring classic Greek dishes like moussaka, fresh seafood, and Greek salad.</p>
                    <p><em>“Learned a lot, gained confidence, and had an amazing week at sea. Didn’t expect it to be this fun and relaxed! 😎”</em></p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header bg-light-blue" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <h4>☑️ What is included</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordionExample">
                  <div class="card-body">
                  <p>
                    Our RYA Day Skipper Practical course is led by highly experienced instructors who are native English speakers and passionate about teaching sailing in a clear, friendly, and practical way. 
                  </p>
                  <p>
                    The course fee covers everything essential for a seamless learning experience, including <strong>breakfast and lunch throughout your course, port and mooring fees, fuel, yacht costs, RYA course book, and RYA logbook (to track your progress and record your sailing experiences), so there are no hidden extras.</strong>
                  </p>
                  <p>
                    You’ll stay onboard a well-equipped yacht, with your own yacht cabin (shared only with your partner if applicable). <strong>Bed linen, towels, pillows, and essentials are provided.</strong>
                    More details on <a target="_blank" rel="noopener noreferrer"  href="/yachts/lookfar"><u>accommodation onboard click here</u></a>. 
                  </p>
                  <p>
                    Enjoy complimentary <strong>tea, coffee, and light refreshments</strong> daily. You’re welcome to prepare your own meals in the yacht’s galley or visit nearby cafes and restaurants.
                  </p>
                  <p>While not sailing, you have access to shore-based marina facilities including clean toilets and showers conveniently located by the marina gate. 
                    Our base at <strong>Lavrio Marina, Greece</strong>, is just 20 minutes from Athens Airport — surrounded by local shops, cafes, and restaurants for your convenience.
                  </p>
                  <p>
                    Upon successful completion of the course, you’ll receive the official <strong>RYA Day Skipper Certificate</strong> — a globally recognised qualification and your first major step toward skippering a sailing yacht with confidence. This certificate proves you’re ready to take charge, plan passages, and ensure the safety of your crew and vessel in familiar waters by day. It also allows you to charter yacht from charter companies.
                  </p>
                  <p><strong>*All activities ashore and dinner are at your OWN expense, and travel costs to reach Lavrion are NOT included.</strong></p>              
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header bg-light-blue" id="headingFive">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <h4>🎒 Recommended to bring</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>
                      If you choose for accommodation onboard, full bedding is supplied, sheets, pillows and blankets. Also, we provide towels for use on the yacht but not beach towels. If you should require more than one towel during the week, please do bring your own additional towel.
                    </p>
                    <ul>
                      <li>Sunglasses</li>
                      <li>High factor sun cream</li>
                      <li>Deck shoes if possible, otherwise soft shoes with a non marking sole, or just barefoot</li>
                      <li>Shorts (Please be aware that these are liable to get dirty, so not your bestones!)</li>
                      <li>T-Shirts</li>
                      <li>Wash Kit</li>
                      <li>Fleece or jumper for the evenings and windy days at sea</li>
                      <li>Soft bag as opposed to a hard suitcase (we can store luggage if you are staying on)</li>
                      <li>Light long sleeved shirt if you need to cover up in the sun</li>
                      <li>Baseball/sun hat (preferably with a clip to stop it blowing overboard!)</li>
                      <li>Sea sickness tablets should you need them</li>
                      <li>Phone/ Ipod / lap top chargers – 12V (cigarette style chargers) if needed</li>
                      <li>And above all, enthusiasm!</li>
                    </ul>
                    <p>Please note that the temperatures in Greece are normally very warm during the day
                      but it can be cold in the evenings and windy days at sea. It is a good idea to bring a
                      small light rain mac if you have one and also a pair of long trousers and a warm
                      fleece, just in case. Please note that We don't provide wet weather gear onboard.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header bg-light-blue" id="headingTen">
                  <h2 class="mb-0">
                    <button style="text-align: left" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                      <h4>💻 Supporting Courses</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                  <div class="card-body">
                    <img class="mb-2" src="/images/course-element/RYA-VHF-SRC-GMDSS-Marine-Radio-Assessment Medium.jpeg" alt="vhf course" width="300" style="border-radius: 5px;">
                    <p>It highly recommended to take <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-marine-radio"><em><u>RYA Marine Radio VHF course</u></em></a>. VHF course will be useful if you want to do chartering in the future, because you are required to hold a VHF certificate for that purpose. The course is designed and created by RYA, and it will be given online. Once you complete the online course, you will have a 30 minutes assessment with us during your stay in Greece. Usually it takes 1-2 days to complete the online course. You can complete it before, or during your stay in Greece.
                    <p>To book VHF course, simply add it in the <a href="/booking/courses/<%=courseName%>"><u>Course Booking Page</u></a>, and we will send you a log-in and instructions after receiving your booking.</p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header bg-light-blue" id="headingSeven">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      <h4>✈️ Flight and On-arrival</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>If you’re flying to Greece, the nearest airport is <strong>Athens International Airport (ATH) – Eleftherios Venizelos</strong>. It’s the country’s main airport and offers excellent connections to most major European cities, including frequent low-cost and direct flights from regional hubs.</p>
                    <p>Our marina base is located in <strong>Lavrio</strong>, just a <strong>20–25 minute drive from Athens International Airport</strong>. This makes it one of the most convenient sailing bases in Greece, especially for those joining RYA courses or yacht charters.</p>
                    <p>Upon arrival, you’ll find <strong>official taxi stands</strong> right outside the arrivals hall. Simply tell the driver your destination: 
                      <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/place/Lavrio+Port/@37.7148124,24.0512608,15z"><u>Lavrio Marina</u></a>.
                      The journey typically costs between <strong>€35–€45</strong> depending on traffic and time of day, and takes about 20 minutes.
                    </p>
                    <p>Alternatively, you can use ride-hailing apps such as <strong>Bolt</strong> or <strong>Uber</strong> for a convenient and often more affordable transfer. Several airport shuttle and private transfer services also operate between Athens Airport and Lavrio.</p>
                    <p>When you arrive at the marina, you’ll receive a short <strong>boat and safety briefing</strong> to get familiar with the yacht, meet your crew, and settle in before your course or sailing adventure begins.</p>          
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header bg-light-blue" id="headingNine">
                  <h2 class="mb-0">
                    <button style="text-align: left" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                      <h4>🙋 Frequently Asked Question</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                  <div class="card-body">
                    <p><strong>Who will be on board?</strong></p>
                    <p>There will be a maximum of 5 students of each yacht, according the RYA regulations. Other students might follow the same course or a higher level. A mix of students allow everyone to fulfilled their respective syllabus while showing you what the nextcourse for you could be!</p>
                    <p>The instructor on board will be a commercially endorsed RYA Yachtmaster and he/she will also have an RYA instructor’s certificate and be qualified to teach sailing. Instructors are selected for their personality and teaching skills, to provide a happy, safe and encouraging environment on board!</p>
                    <p><strong>Course guide</strong></p>
                    <p>We have a 5-page course guide covering in detail what to expect on your course and, most importantly, what the prerequisite theory and practical knowledge is. We recommend you read this as it includes answers to the most commonly asked questions.
                    </p>
                    <hr>
                    <p>For more details about course, logistics, accommodation, booking, and certificate, please refer to the <a target="_blank" rel="noopener noreferrer"  href="/faqs"><em><u>FAQ's section.</u></em></a></p>
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header bg-light-blue" id="headingEight">
                  <h2 class="mb-0">
                    <button style="text-align: left" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                      <h4>⛵️ Your Next RYA Step</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                  <div class="card-body">
                    <p><b>After completing the Day Skipper practical course it is really worthwhile consolidating what you have learnt by completing some more sea miles.</b> </p>
                    <p>This could be achieved by joining our <a target="_blank" rel="noopener noreferrer"  href="/courses/mile-builder"><em><u>mile building trips</u></em></a>, or just coming along for another week or weekend of <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-plus-practical-course"><em><u>Day Skipper Plus Refresher/Consolidation Training</u></em></a>.</p>
                    <p>Following this you should look to join the <a target="_blank" rel="noopener noreferrer"  href="/courses/rya-coastal-skipper-yachtmaster-offshore-theory"><em><u>RYA Coastal Skipper/Yachtmaster Theory Course.</u></em></a></p>
                    <img src="/images/course-element/course-element-sail-course-system.jpeg" width="100%" alt="RYA-sail-course-system">
                    <a class="btn btn-deep-blue btn-block" target="_blank" rel="noopener noreferrer"  href="/courses/rya-coastal-skipper-yachtmaster-offshore-theory" role="button">Next step: RYA Coastal Skipper / Yachtmaster Offshore Theory &raquo</a>
                  </div>
                </div>
              </div>
              
            </div>

            <%- include("../partials/reviews"); -%>

            <!-- ending video -->
            <div class="container my-5 text-center">
             <iframe width="100%" height="415" src="https://www.youtube.com/embed/lRyEbgVDjWQ?si=PJGkOtf-GgdhVqKh" title="Mile builder drone video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            
            <!-- Related courses -->
            <section>
              <div class="container text-center">
                <h3 class="h1-seo-replace mb-5">Day Skipper Related Courses and Packages</h3>
              </div>
            </section>

            <!-- Bottom buttons -->
            <div class="course-bottom-buttons mb-5">
                <a class="btn btn-deep-blue course-four-bottom my-1" target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-theory" role="button">Day Skipper Theory &raquo;</a>
                <a class="btn btn-deep-blue course-four-bottom my-1" target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-package" role="button">Day Skipper Package &raquo;</a>
                <a class="btn btn-light-blue course-four-bottom my-1" target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-fast-track-practical-only" role="button">Day Skipper Fast-track (2 weeks) &raquo;</a>
                <a class="btn btn-light-blue course-four-bottom my-1" target="_blank" rel="noopener noreferrer"  href="/courses/rya-day-skipper-fast-track" role="button">Day Skipper Fast-track (3 weeks) &raquo;</a>
            </div>

            <!-- Feature on -->
            <section>
              <div class="container text-center">
                <h3 class="h1-seo-replace mb-5">AYA Featured on</h3>
                <%-include("../partials/referal")-%>
              </div>
            </section>

            <!-- CTA -->
            <section>
              <div class="container text-center">
                <h3 class="h1-seo-replace mb-5">Will you take the helm?</h3>
              </div>
            </section>

            <!-- Bottom buttons -->
            <div class="course-bottom-buttons">
                <a class="btn btn-deep-blue course-four-bottom" target="_blank" rel="noopener noreferrer"  href="/booking/courses/<%=courseName%>" role="button">Book now &raquo;</a>
                <a class="btn btn-light-blue course-four-bottom" target="_blank" rel="noopener noreferrer"  href="/contact#enquiry-form" role="button">Plan now &raquo;</a>
            </div>

    </div>

  
    <div class="videos-wrapper">
      <h3>Recommended videos to watch for the course:</h3>
      <div class="videos-container">
        <iframe width="300" height="170" src="https://www.youtube.com/embed/SWIX6SUh-nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="300" height="170" src="https://www.youtube.com/embed/foKpbdHHLZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="300" height="170" src="https://www.youtube.com/embed/3X8drKsdf5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="300" height="170" src="https://www.youtube.com/embed/By0y8O7AbZw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

   <%-include("../partials/call-to-action")-%>
</section>

<%- include("../partials/footer"); -%>