<%-include("partials/headers/header-yachts-charter")-%>

<!-- Cover image -->

<!-- title -->
<div class="carousel-item-text ">
  <h1 class="charter-and-cruising-main-title">
    <b>Malta Sailing Yacht Charter (Skippered Only)</b>
    </h2>
</div>

<div id="carouselExampleCaptions" class="carousel slide carousel-fade carousel-charter-and-cruise" data-ride="">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/charter-and-cruises/yatch_8.jpeg" class="d-block w-100 main-img-carousel" alt="malta-sailing-yacht-charter-cruise">
      <div class="carousel-caption d-md-block">
        <%- include("partials/social-media-three-icons")-%>
      </div>
    </div>


    <div class="carousel-item">
      <img src="/images/charter-and-cruises/gallery_18.webp" class="d-block w-100 main-img-carousel" alt="malta-sailing-yacht-charter-cruise">
      <div class="carousel-caption d-md-block">
        <%- include("partials/social-media-three-icons")-%>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/images/charter-and-cruises/yatch_5.jpg" class="d-block w-100" alt="malta-sailing-yacht-charter-cruise">
      <div class="carousel-caption d-md-block">
        <%- include("partials/social-media-three-icons")-%>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/images/charter-and-cruises/yatch_7.jpg" class="d-block w-100" alt="malta-sailing-yacht-charter-cruise">
      <div class="carousel-caption d-md-block">
        <%- include("partials/social-media-three-icons")-%>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/images/charter-and-cruises/charter-and-cruises-cover-birgu-marina.jpg" class="d-block w-100" alt="malta-sailing-yacht-charter-cruise">
      <div class="carousel-caption d-md-block">
        <%- include("partials/social-media-three-icons")-%>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="container-fluid charter-cruises-background">
  <div class="row">
    <!-- Charter and rental -->
    <!-- <div class="col-lg-9"> -->
      <div class="charter-and-cruises">
        <h2>Jeanneau Sun Odyssey 54'</h2>
        <p class="lead mb-4">⛵️ 54 feet of pure pleasure at your fingertips</p>
        <p class="lead mb-4">Timeless design, exceptional seaworthiness and unmatched comfort. Sail around the Maltese Islands or even venture further in luxury with a personal skipper included.
          From the moment you step on board, elegance and luxury will bewitch you.</p>
        <br>
        <section class="chart-info">
          <div id="minicarousel" class="carousel slide carousel-fade mini-carousel" data-ride="">
            <ol class="carousel-indicators">
              <li data-target="#minicarousel" data-slide-to="0" class="active"></li>
              <li data-target="#minicarousel" data-slide-to="1"></li>
              <li data-target="#minicarousel" data-slide-to="2"></li>
              <li data-target="#minicarousel" data-slide-to="3"></li>
              <li data-target="#minicarousel" data-slide-to="4"></li>
              <li data-target="#minicarousel" data-slide-to="5"></li>
              <li data-target="#minicarousel" data-slide-to="6"></li>
              <li data-target="#minicarousel" data-slide-to="7"></li>
              <li data-target="#minicarousel" data-slide-to="8"></li>
              <li data-target="#minicarousel" data-slide-to="9"></li>
              <li data-target="#minicarousel" data-slide-to="10"></li>
              <li data-target="#minicarousel" data-slide-to="11"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/charter-and-cruises/gallery_23.jpg" class="d-block w-100 main-img-carousel" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img src="/images/charter-and-cruises/gallery_19.jpg" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img src="/images/charter-and-cruises/gallery_17.webp" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img src="/images/charter-and-cruises/gallery_15.webp" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img src="/images/charter-and-cruises/gallery_14.webp" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img src="/images/charter-and-cruises/minicarousel_3.jpg" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img src="/images/charter-and-cruises/minicarousel_2.jpeg" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img src="/images/charter-and-cruises/minicarousel_5.jpg" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img src="/images/charter-and-cruises/minicarousel_6.jpg" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img src="/images/charter-and-cruises/minicarousel_7.jpg" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img src="/images/charter-and-cruises/minicarousel_8.jpg" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

              <div class="carousel-item">
                <img loading="lazy" src="/images/charter-and-cruises/gallery_2.jpg" class="d-block w-100" alt="malta-sailing-charter-boat-picture">
              </div>

            </div>
            <a class="carousel-control-prev" href="#minicarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#minicarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="charter-boat-specifications">
            <h4 class="mb-4">Specifications</h4>
            <ul>
              <li>Make: Jeanneau Sun Odyssey 54'</li>
              <li>Overall Length: 54.92ft / 16.74m</li>
              <li>LWL: 48.5ft / 14.78m</li>
              <li>Beam: 4.85m</li>
              <li>Draught: 1.98m</li>
              <li>Engine: Yanmar 110HP</li>
              <li>Sail: roller furling</li>
              <li>Fuel Tank Capacity: 410L</li>
              <li>Guest Cabins: 3 + Captain quarters</li>
              <li>Number of Toliets: 3 with electric flush</li>
              <Li>Bow thruster: Yes</Li>
              <Li>Air Conditioning: Yes</Li>
              <Li>Soundsystem: Yes</Li>
              <Li>Microwave cooker: Yes</Li>
            </ul>
          </div>
        </section>

        <hr />

        <section class="services">
          <h2 class="mb-4">Charter services</h2>
          <div class="cards">

            <div class="card">
              <img class="charter-cruise-card-img-top" src="/images/charter-and-cruises/charter-and-cruises-malta-charter.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Malta Week Charter w/ Skipper</h4>
                <p class="lead">Embark on a 7-day sailing escape around Malta and Gozo with professional skipper, designed for those who love sailing, swimming, and sightseeing. This trip offers the perfect mix of exploration and comfort for families groups.
                </p>
                <div>
                  <a class="btn btn-warning box-shadow--3dp" href="/contact#enquiry-form"><b>BOOK NOW</b></a>
                  <a class="btn btn-primary box-shadow--3dp" href="/contact#enquiry-form"><b>ENQUIRY NOW</b></a>
                </div>
              </div>
            </div>

            <div class="card">
              <img class="charter-cruise-card-img-top" src="/images/charter-and-cruises/yatch_8.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Malta Day Charter</h4>
                <p class="lead">Spend a day touring the beautiful bays of the Maltese Islands. See Comino’s Blue Lagoon, Crystal Lagoon and explore the numerous caves. This is a great boat day trip for couples, families, and groups of friends to enjoy.</p>
                <div>
                  <a class="btn btn-warning box-shadow--3dp" href="/contact#enquiry-form"><b>BOOK NOW</b></a>
                  <a class="btn btn-primary box-shadow--3dp" href="/contact#enquiry-form"><b>ENQUIRY NOW</b></a>
                </div>
              </div>
            </div>

            <div class="card">
              <img class="charter-cruise-card-img-top" src="/images/charter-and-cruises/gallery_18.webp" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Malta Sunset / Evening Trip</h4>
                <p class="lead">Enjoy a simple sail in the evening or combine this with a three course dinner cruise of the Grand Harbour at night. Truly magical with the bastions of Valletta lit up as your backdrop. It is ideal for birthdays & anniversaries,
                  proposals and date nights.</p>
                <div>
                  <a class="btn btn-warning box-shadow--3dp" href="/contact#enquiry-form"><b>BOOK NOW</b></a>
                  <a class="btn btn-primary box-shadow--3dp" href="/contact#enquiry-form"><b>ENQUIRY NOW</b></a>
                </div>
              </div>
            </div>

            <div class="card">
              <img class="charter-cruise-card-img-top" src="/images/charter-and-cruises/yatch_4.png" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Overnight Stay Onboard</h4>
                <p class="lead">There’s so much to explore, so why not charter the yacht for a few nights and make a holiday out of it? Discover hidden caves and secluded beaches around Malta, Gozo and Comino - many of which are only accessible by
                  boat - far away from touristic noise.
                </p>
                <div>
                  <a class="btn btn-warning box-shadow--3dp" href="/contact#enquiry-form"><b>BOOK NOW</b></a>
                  <a class="btn btn-primary box-shadow--3dp" href="/contact#enquiry-form"><b>ENQUIRY NOW</b></a>
                </div>
              </div>
            </div>

          </div>
        </section>

        <hr />
        <section class="charter-rates">
          <h2 class=" mb-4">Charter rates 2025</h2>
          <div class="panel-widget-style panel-widget-style-desktop">
            <p class="lead mb-4"><b>
                The standard rate is shown below. However if you have specific plan or need, we are happy to provide a specific proposal.
              </b></p>
            <div class="table-responsive">
              <table id="tablepress-5-no-2" class="table tablepress tablepress-id-5">
                <thead>
                  <tr class="row-1 odd">
                    <th class="" style="text-align: left;">Service</th>
                    <th class="column-2">Max persons</th>
                    <th class="column-3">Weekday</th>
                    <th class="column-4">Weekend*</th>
                    <th class="column-5">Overnight option*</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="row-2 even">
                    <td class="column-1">Day Charter</td>
                    <td class="column-2">12</td>
                    <td class="column-3">€750</td>
                    <td class="column-4">€775</td>
                    <td class="column-5">n.a.</td>
                  </tr>
                  <tr class="row-3 odd">
                    <td class="column-1">Day Charter</td>
                    <td class="column-2">15</td>
                    <td class="column-3">€850</td>
                    <td class="column-4">€860</td>
                    <td class="column-5">n.a.</td>

                  </tr>
                  <tr class="row-4 even">
                    <td class="column-1">Evening Charter</td>
                    <td class="column-2">12</td>
                    <td class="column-3">€450</td>
                    <td class="column-4">€550</td>
                    <td class="column-5">n.a.</td>

                  </tr>
                  <tr class="row-5 odd">
                    <td class="column-1">Evening Charter</td>
                    <td class="column-2">15</td>
                    <td class="column-3">€550</td>
                    <td class="column-4">€650</td>
                    <td class="column-5">n.a.</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <p class="lead">* Weekend rates apply for: Friday, Saturday, Sunday and Public Holidays. Local Waters Max sleep 8 Pax; Offshore Max 6 Pax. </p>
            </p>

          </div>

          <div class="panel-widget-style panel-widget-style-mobile">
            <p class="lead mb-4"><b>
                The standard rate is shown below. However if you have specific plan or need, we are happy to provide a specific proposal.
              </b></p>
            <div class="table-responsive">
              <table id="tablepress-5-no-2" class="table tablepress tablepress-id-5">
                <thead>
                  <tr class="row-1 odd">
                    <th class="">Service</th>
                    <th class="column-2">Max persons</th>
                    <th class="column-3">Weekday</th>
                    <th class="column-4">Weekend*</th>
                    <th class="column-5">Overnight option</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="row-2 even">
                    <td class="column-1">Day Charter</td>
                    <td class="column-2">12</td>
                    <td class="column-3">€650</td>
                    <td class="column-4">€675</td>
                    <td class="column-5">€150</td>
                  </tr>
                  <tr class="row-3 odd">
                    <td class="column-1">Day Charter</td>
                    <td class="column-2">15</td>
                    <td class="column-3">€750</td>
                    <td class="column-4">€760</td>
                    <td class="column-5">n.a.</td>

                  </tr>
                  <tr class="row-4 even">
                    <td class="column-1">Evening Charter</td>
                    <td class="column-2">12</td>
                    <td class="column-3">€450</td>
                    <td class="column-4">€550</td>
                    <td class="column-5">€150</td>

                  </tr>
                  <tr class="row-5 odd">
                    <td class="column-1">Evening Charter</td>
                    <td class="column-2">15</td>
                    <td class="column-3">€550</td>
                    <td class="column-4">€650</td>
                    <td class="column-5">n.a.</td>
                  </tr>
                </tbody>
              </table>
            </div>


            <p class="lead">* Weekend rates apply for: Friday, Saturday, Sunday and Public Holidays. Local Waters Max sleep 8 Pax; Offshore Max 6 Pax. </p>

          </div>
        </section>


        <section class="terms">
          <div class="tc-head-wrapper" data-toggle="collapse" href="#collapseTC" role="button" aria-expanded="false" aria-controls="collapseTC">
            <h4 class="mb-4">Terms and conditions</h4>
            <i class="fas fa-chevron-up" aria-hidden="true"></i>
          </div>

          <div class="panel-widget-style tac collapse show" id="collapseTC">
            <div data-post-id="1429" class="insert-page insert-page-1429 ">
              <div id="pg-1429-0" class="panel-grid">
                <div class="panel-grid-core">
                  <div id="pgc-1429-0-0" class="panel-grid-cell  ">
                    <div class="panel-widget-style">
                      <h4 style="font-style: normal;"><span>Price Includes:</span></h4>
                    </div>
                    <div class="panel-widget-style">
                      <ul class="list iconfont">
                        <li>- Professional skipper</li>
                        <li>- Fuel (local waters)</li>
                        <li>- Free use of snorkelling equipment</li>
                        <li>- Free flow of water</li>
                        <li>- Bed linen and bath towels if overnight charter</li>
                        <li>- VAT or any other local tax</li>
                        <li>- Rates exclude transfers</li>
                      </ul>
                    </div>
                  </div>

                  <div id="pgc-1429-0-1" class="panel-grid-cell  ">
                    <div class="panel-widget-style">
                      <h4 style="font-style: normal;"><span>Day Charter Time (Summer)</span></h4>
                    </div>
                    <div class="panel-widget-style">
                      <ul class="list iconfont">
                        <li>- 1st May to 30th September</li>
                        <li>- Kalkara Marina: 09:00 to 17:00, base marina.</li>
                        <li>- Portomaso: 10:00 to 17:00 (free for Hilton guests), €150</li>
                        <li>- St Georges Bay: 10:00 to 17:00 (need boarding boat), €50</li>
                        <li>- Marsamxett Harbour Marinas 10:00 17:00, €50</li>
                        <li>- Excelsior: 10:00 to 17:00, €50</li>
                      </ul>

                    </div>
                  </div>
                  <div id="pgc-1429-0-2" class="panel-grid-cell  ">
                    <div class="panel-widget-style">
                      <h4 style="font-style: normal;"><span>Day Charter Time (Winter)</span></h4>
                    </div>
                    <div class="panel-widget-style">
                      <ul class="list iconfont">
                        <li>- 1st October to 30th April.</li>
                        <li>- Kalkara Marina: 09:00 to 17:00, base marina.</li>
                        <li>- Portomaso: 10:00 to 16:00 (subject to Marina fees).</li>
                        <li>- St Georges Bay: 10:00 to 16:00 (need boarding boat)</li>
                        <li>- Marsamxett Harbour Marinas 10:00 16:00 (subject to marina fees)</li>
                        <li>- Excelsior: 10:00 to 16:00, €50</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div id="pg-1429-1" class="panel-grid">
                <div class="panel-grid-core">
                  <div id="pgc-1429-1-0" class="panel-grid-cell  ">
                    <div class="panel-widget-style">
                      <h4 style="font-style: normal;"><span>Payment Terms:</span></h4>
                    </div>
                    <div class="panel-widget-style">
                      <ul class="list iconfont">
                        <li>- A Deposit of 50% is required to confirm booking. </li>
                        <li>- Remaining balance shall be paid one week before the charter.</li>
                        <li>- Full deposit or payment shall be refunded if charter cannot be done due to weather conditions.</li>
                      </ul>

                    </div>
                  </div>
                  <div id="pgc-1429-1-1" class="panel-grid-cell  ">
                    <div class="panel-widget-style">
                      <h4 style="font-style: normal;"><span>Evening Charter Dinning:</span></h4>
                    </div>
                    <div class="panel-widget-style">
                      <ul class="list iconfont">
                        <li>- Fine cheese and meat platter included for evening charter</li>
                        <li>- Dips and crackers included for evening charter</li>
                        <li>- Half bottle of wine per person included for evenign charter</li>
                        <li>- Other food option can be provided at an extra cost. No commission on food and are net prices.</li>
                      </ul>

                    </div>
                  </div>
                  <div id="pgc-1429-1-2" class="panel-grid-cell  ">
                    <div class="panel-widget-style">
                      <h4 style="font-style: normal;"><span>Extra Charge (if applicable)</span></h4>
                    </div>
                    <div class="panel-widget-style">
                      <ul class="list iconfont">
                        <li>- Extra hour onboard: 50 Euro</li>
                        <li>- End of charter cleaning: 1 time free; Day Charters - Free.</li>
                        <li>- End of charter cleaning: 1 night - 50 euro; 2 or more nights - 100 euro.</li>
                        <li>- When chartered for overseas/international waters. Fuel is charged on consumption used. Home base marina (free of charge). Visiting marina fees (berth, electric and water) are paid by client.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr />
        <section class="charter-accommodation">
          <h2 class=" mb-4">Accommodation onboard</h2>
          <div class="charter-cruise-card-imgs-top">
            <div class="charter-cruise-card-imgs-container">
              <img class="charter-cruise-card-img-top" src="/images/charter-and-cruises/gallery_14.webp" alt="Card image cap">
              <img class="charter-cruise-card-img-top" src="/images/charter-and-cruises/gallery_15.webp" alt="Card image cap">
            </div>
            <div class="charter-cruise-card-imgs-container">
              <img class="charter-cruise-card-img-top" src="/images/charter-and-cruises/minicarousel_2.jpeg" alt="Card image cap">
              <img class="charter-cruise-card-img-top" src="/images/charter-and-cruises/minicarousel_5.jpg" alt="Card image cap">
            </div>
          </div>
          <p class="lead mb-4">The yacht comfortably accommodates six guests in three cabins (one double and two singles, which can also be configured as doubles), saloon area can sleep one to two and upper deck can sleep a further two along with your personal
            crew of two in a separate crew cabin positioned at the front of yacht, hence leaving ample private space for guests.</p>
          <p class="lead mb-4">The Stateroom located at the front of the yacht consists of full air conditioning and en suite bathroom with electric flush toilet and a shower. The remaining two cabins are located at the stern (back) of
            the yacht; both are air-conditioned and offer en suite bathrooms, electric flush toilets and showers with exceptional headroom. All guests have access to an extensive onboard
            entertainment system.</p>
        </section>

        <hr />
        <section>
          <h2 class=" mb-4">Location of base marina</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.296002112637!2d14.522063015264619!3d35.89076548014606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130e5b2b84eb9679%3A0x60fb531f5eabcf53!2sKalkara%20Marina!5e0!3m2!1sen!2str!4v1661706136566!5m2!1sen!2str" width="100%" height="247" frameborder="0" style="border: 0" class="calendar-map" allowfullscreen="" aria-hidden="false" tabindex="0">
          </iframe>
        </section>

        <hr />
        <section class="gallery">
          <h2 class=" mb-4">Gallery</h2>


          <div class="masonry">
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_1.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_3.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_4.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_5.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_6.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_7.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_8.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_9.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_10.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_11.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_12.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_13.webp">
            </div>
            <!-- <div class="item">
                  <img src="/images/charter-and-cruises/gallery_14.webp">
                </div>
                <div class="item">
                   <img src="/images/charter-and-cruises/gallery_15.webp">
                </div> -->
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_16.webp">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_17.webp">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_18.webp">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_19.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_20.jpg">
            </div>
            <div class="item">
              <img src="/images/charter-and-cruises/gallery_21.jpg">
            </div>

        </section>

      </div>
    </div>

    <!-- Mile building and trips-->

    <!-- <div class="col-lg-3">
      <div class="mileage-building">
        <h2 class="h1-seo-replace" style="text-align:left">Mile Building Trip</h2>
        <br>
        <p class="lead">Holidays, thats what most people are planning! Why not come sailing with us? We often plan week-long trips in spring, summer, and autumn, going from Malta to Sicily, Syracuse and back. Nice and steady, enjoying the scenery
          in route with 350 miles of qualifying passages included. What else can be better? Join now!
        </p>
        <a class="btn btn-warning box-shadow--3dp" href="/courses/mile-builder"><b>MORE DETAILS</b></a>
        <a class="btn btn-primary box-shadow--3dp" href="/booking/courses/mile-builder"><b>JOIN NOW</b></a>
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/charter-and-cruises-sailing-foggy.jpg" width="100%" alt="charter-and-cruises-sailing-foggy">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/charter-and-cruises-sailing-volcano-etna.jpg" width="100%" alt="charter-and-cruises-sailing-volcano-etna">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/charter-and-cruises-sailing-catania-etna.jpg" width="100%" alt="charter-and-cruises-sailing-catania-etna">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/charter-and-cruises-blue-hole.jpg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/charter-and-cruises-malta-charter.jpg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-0.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-1.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-2.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-3.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-4.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-5.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-6.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-7.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-8.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-9.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-10.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/mile-building-trip-11.jpeg" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <img class="mileage-building-image" src="/images/charter-and-cruises/DS-54-Side-view.webp" width="100%" alt="charter-and-cruises-blue-hole">
        <hr>
        <em>Catania, Etna, Sicily and Blue Hole in Gozo</em>
        <br><br>
        <a class="btn btn-warning box-shadow--3dp" href="/courses/mile-builder"><b>MORE DETAILS</b></a>
        <a class="btn btn-primary box-shadow--3dp" href="/booking/courses/mile-builder"><b>JOIN NOW</b></a>
      </div>

    </div> -->

  </div>
</div>

<%-include("partials/footer")-%>

<%- include("partials/charter-and-cruises/css/rates")-%>
<%- include("partials/charter-and-cruises/css/gallery")-%>
<%- include("partials/charter-and-cruises/css/terms")-%>